.combo-box
{

    -fx-background-color: #527c7e;
    -fx-background-radius:10px ;
    -fx-text-fill: #000000;
    -fx-border-color: black;
    -fx-border-radius:10px ;
    -fx-padding: 3 0 2 7;
    -fx-font-family:"Segoe UI Black";

}
