.combo-box
{

    -fx-background-color: #cccbcb;
    -fx-background-radius:10px ;
    -fx-text-fill: #1a0b0b;
    -fx-border-color: black;
    -fx-border-radius:10px ;
    -fx-padding: 3 0 2 7;
    -fx-font-family:"Lucida Sans";

}
