.text-field {
    -fx-background-color: #ffffff; /* White background */
    -fx-border-color: #8e0d0d;     /* Light grey border */
    -fx-border-width: 1px;         /* 1px border width */
    -fx-border-radius: 5px;        /* Rounded corners */
    -fx-padding: 10px;             /* Padding inside the text field */
    -fx-font-size: 14px;           /* Font size */
    -fx-text-fill: #333333;        /* Text color */
}


.text-field .text-field .prompt-text {
    -fx-text-fill: #ff0000;
}

/* Focused state styling */
.text-field:focused {
    -fx-border-color: #000000;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}